@model List<Review.Model.Brand>
@{
    ViewData["Title"] = "Brands";
}
<div class="pagetitle">
    <h1>Brands</h1>
</div>
@if( User.IsInRole( "Administrator" ) ) {
    <div class="row my-4">
        <div class="col-sm-6 col-md-6 col-lg-2 col-xl-2">
            <a asp-action="Create" class="btn btn-outline-primary" style="display: inline-block; width: 100%;"><i class="bi-plus-circle"></i> New brand</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <a asp-action="SyncBrands" id="syncBrands" class="btn btn-outline-secondary" style="display: inline-block; width: 100%;"><i class="bi-arrow-repeat"></i> Sync Brands</a>
        </div>
    </div>
}
<div class="card">
    <div class="card-body">
@*         <div id="loader" class="loader" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div> *@
        <div id="table-loader" class="loader"></div>
        <div class="table-responsive" style="margin-top: 20px;">
            <table id="tbl-brands" class="table" @* style="display: none;" *@>
                <thead>
                    <tr>
                        <th>Make</th>
                        <!-- Add hidden columns -->
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var item in Model ) {
                        <tr>
                            <td>@item.Name</td>
                            <!-- Add hidden columns in each row -->
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td>
                                @if( User.IsInRole( "Administrator" ) ) {
                                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="bi-box-arrow-up-right"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi-pencil-square"></i></a>
                                    <a asp-action="DeleteBrand" asp-route-id="@item.ID" class="btn btn-outline-danger btn-sm delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi-trash"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions {
    public string Truncate( string value, int maxLength ) {
        if( string.IsNullOrEmpty( value ) ) return value;
        return value.Length <= maxLength ? value : value.Substring( 0, maxLength ) + "...";
    }
}

@section Scripts {
    <script src="~/js/Brand/Brand.js"></script>
}

