@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if( showBanner ) {
    <nav id="cookieConsent" class="navbar navbar-light bg-light fixed-top" role="alert">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <span class="navbar-brand mb-0 h1"><i class="bi bi-info-circle" aria-hidden="true"></i></span>
                    <p class="mb-0 ms-3">We use cookies to ensure you get the best experience on our website. 
                        By continuing to browse or by clicking "Accept," you agree to the storing of cookies on your device to enhance site navigation, 
                        analyze site usage, and assist in our marketing efforts. If you want to learn more about how we use cookies, please click "Learn More."</p>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info me-2">Learn More</a>
                    <button type="button" class="btn btn-primary" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
@*         (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })(); *@
    </script>
}
