@model Review.Models.Car.CarViewModel
@{
    ViewData["Title"] = "Adding a new car";
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;New car</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <partial name="_CreateOrUpdate" />
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Car/Dropzone.js"></script>
}