@model Review.Models.Car.CarReviewViewModel
@{
    ViewData["Title"] = "Adding a new car review";
}
<ol class="breadcrumb">
    <li><a asp-action="Details" asp-route-id="@Model.CarID">@Model.CarName /</a></li>
    <li class="active">&nbsp;New car review</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="CreateCarReview" id="carForm" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" id="ActionUrl" value="@Url.Action("CreateCarReview", "Car")" />
            <input type="hidden" asp-for="CarID" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" id="uploadedImages" name="UploadedImages" />
            <partial name="_CreateOrUpdateCarReview" />
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Car/DropzoneCarReview.js"></script>
}