@model Review.Model.Car
@{
    ViewData["Title"] = "Car edit";
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;Car customization</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateOrUpdate" />
        </form>
    </div>
</div>