@model List<Review.Model.Car>
@{
    ViewData["Title"] = "Cars";
}
<div class="pagetitle">
    <h1>Cars</h1>
</div>
<div style="margin-top: 20px;">
    <partial name="_CarFilter" model="new CarFilterModel()" />
</div>
<div class="col-4" style="margin-top: 30px; margin-bottom: 30px; width: 200px;">
    <a asp-action="Create" class="btn btn-outline-primary" style="display: inline-block; width: 100%;"><i class="bi-plus-circle"></i> New car</a>
</div>
<div class="card">
    <div class="card-body">
        <partial name="_IndexTable" />
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function performSearch(sender) {
            var formValues = $(sender).closest('form').serialize();

            $.ajax({
                url: '@Url.Action( "IndexAjax", "Car" )',
                data: formValues,
                method: "POST",
                success: function (html) {
                    $("#tbl-cars").replaceWith(html);
                }

            })
        }
    </script>
}