@model List<Review.Model.Car>
@{
    ViewData["Title"] = "Cars";
}
<div class="pagetitle">
    <h1>Cars</h1>
</div>
<div style="margin-top: 20px;">
    <partial name="_CarFilter" model="new CarFilterModel()" />
</div>
@if( User.IsInRole( "Administrator" ) ) {
    <div class="col-4" style="margin-top: 10px; margin-bottom: 10px; width: 200px;">
        <a asp-action="Create" class="btn btn-outline-primary" style="display: inline-block; width: 100%;"><i class="bi-plus-circle"></i> New car</a>
    </div>
}
<div class="card">
    <div class="card-body">
        <div class="table-responsive" style="margin-top: 20px;">
            <table id="tbl-cars" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="display: none;"></th>
                        <th>Car</th>
                        <th style="display: none;"></th>
                        <th class="d-none d-md-table-cell">Rating</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody id="tbl-cars-body">
                    <partial name="_IndexTableBody" />
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Car/Car.js"></script>
}