@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/cars.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="h2">
                    Car Review Portal
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>This is Car Review page</h2>
        <ul>
            <li>You can add a new car to review or see deatails about already reviewed cars</li>
        </ul>
    </div>
</div>
