@using Microsoft.AspNetCore.Identity
@model List<Review.Models.Car.CarViewModel>
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="row mt-0">
    <div class="col-md-10">
        <h2>This is Car Review page</h2>
    </div>
</div> *@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @* <img src="~/images/cars.jpg" alt="ASP.NET" class="img-responsive" /> *@
            @if( SignInManager.IsSignedIn( User ) ) {
                <partial name="_CarsList" model="Model" />
            }
            else {
                <img src="~/images/cars.jpg" alt="ASP.NET" class="img-responsive" />
            }
        </div>
    </div>
</div>
@* <div class="text-center mt-2" role="option">
    <h2><b><i>Car review portal</i></b></h2>
</div> *@