@model List<Review.Models.Car.CarViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="row mt-0">
    <div class="col-md-10">
        <h2>This is Car Review page</h2>
    </div>
</div> *@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @* <img src="~/images/cars.jpg" alt="ASP.NET" class="img-responsive" /> *@
            <div class="container">
                <div class="row">
                    @foreach( var car in Model ) {
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                            <div class="card-img h-100">
                                @if( car.ImageData != null ) {
                                    <a href="@Url.Action("Details", "Car", new { id = car.ID })">
                                        <img class="card-img-top img-fluid" src="data:@car.ImageMimeType;base64,@Convert.ToBase64String(car.ImageData)" alt="Car Image" />
                                    </a>
                                }
                                else {
                                    <a href="@Url.Action("Details", "Car", new { id = car.ID })">
                                        <img class="card-img-top img-fluid" src="~/images/placeholder.png" alt="Placeholder Image" />
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="text-center mt-2" role="option">
    <h2><b><i>Car review portal</i></b></h2>
</div> *@